# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.httr-oauth-SUSPENDED
ttt.rds

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Other files
.DS_Store

# .Renviron file
.Renviron

# folders
manuscript/charts/*

# files
manuscript/chp_power_balance_sankey.Rmd
manuscript/chp_power_balance_sankey.html
manuscript/chp_power_balance_sankey.pdf

manuscript/chp_research_article_working_document.Rmd

# manuscript/chp_publication_results.html
# manuscript/chp_publication_results.pdf

# ignore data files

data/raw/database_GI7_2018-08-22.rds
data/raw/fuel_auger_calibration.csv

# files

*.docx
*.html

# gather scripts that are not required for manuscript

R/gather/gather_power_data.R